main > .container {
  padding: 60px 15px 0;
}

.question{
    border: 2px solid lightblue;
    border-radius: 7px;
    margin: 20px;
    padding: 10px;
}

.avatar-question{
    width: 100px;
    height: 100px;
}