{% load static %}
{% load check_vote %}
<div class="row answer">
    <div class="col-2">
        <object class="avatar-answer" data="{{ answer.fk_profile.userPfp }}" type="image/jpg">
            <img class="avatar-answer" src="{% static "img/no-avatar.png" %}" alt="avatar">
        </object>
        <div class="row-1 rating-box">
            <div class="rating">{{ answer.rating }}</div>
            <div class="col-2 btn-group-vertical rate-buttons">
                {% with info=request.user.pk %}
                    {% if answer.pk|check_answer_vote:info == "up" %}
                        <img type="button" class="rate-button" src="{% static "img/arrow-up-pressed.png" %}">
                        <img type="button" class="rate-button" src="{% static "img/arrow-down.png" %}">
                    {% elif answer.pk|check_answer_vote:info == "down" %}
                        <img type="button" class="rate-button" src="{% static "img/arrow-up.png" %}">
                        <img type="button" class="rate-button" src="{% static "img/arrow-down-pressed.png" %}">
                    {% else %}
                        <img type="button" class="rate-button" src="{% static "img/arrow-up.png" %}">
                        <img type="button" class="rate-button" src="{% static "img/arrow-down.png" %}">
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="col-10">
        <p>
            {{ answer.text }}
        </p>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1"
                    {% if not isAsker %} disabled{% endif %}
                    {% if answer.correct %} checked{% endif %}>
            <label class="form-check-label" for="gridCheck1">
                <h5>Correct!</h5>
            </label>

        </div>
    </div>
</div>