{% load static %}
{% load check_vote %}
<div class="row question">
    <div class="col-2">
        <object class="avatar-question" data="{{ question.fk_profile.userPfp }}" type="image/jpg">
            <img class="avatar-question" src="{% static "img/no-avatar.png" %}" alt="avatar">
        </object>
        <div class="row-1 rating-box">
            <div class="rating">{{ question.rating }}</div>
            <div class="col-2 btn-group-vertical">
                <div class="col-2 btn-group-vertical rate-buttons">
                    {% with info=request.user.pk %}
                        {% if question.pk|check_question_vote:info == "up" %}
                            <img type="button" class="rate-button" src="{% static "img/arrow-up-pressed.png" %}">
                            <img type="button" class="rate-button" src="{% static "img/arrow-down.png" %}">
                        {% elif question.pk|check_question_vote:info == "down" %}
                            <img type="button" class="rate-button" src="{% static "img/arrow-up.png" %}">
                            <img type="button" class="rate-button" src="{% static "img/arrow-down-pressed.png" %}">
                        {% else %}
                            <img type="button" class="rate-button" src="{% static "img/arrow-up.png" %}">
                            <img type="button" class="rate-button" src="{% static "img/arrow-down.png" %}">
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-10">
        <h3><a href="{% url "question" question.id %}">{{ question.title }}</a></h3>
        <p>
            {{ question.text }}
        </p>
        <div class="row">
            <span class="col-3"><a href="{% url "question" question.id %}">Answers({{ question.answers_num }})</a></span>
            <span class="me-auto col-7">Tags:
                {% for tag in question.fk_tags.all %}
                    <a href="{% url "tag" tg=tag %}">{{ tag }}</a>
                {% endfor %}
            </span>
        </div>
    </div>
</div>