{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}New Question{% endblock %}

{% block content %}
    <h1 class="mt-4">New Question</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group row new-question-form-block">
            {% bootstrap_form form %}
        </div>
        <button type="submit" class="btn btn-outline-success">Ask!</button>
    </form>
{% endblock %}

{% block side-panel %}
    {% include "include/sidepanel.html" %}
{% endblock %}