{% extends "include/base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Settings{% endblock %}

{% block content %}
    <h1 class="mt-4">Settings: {{ request.user.nickname }}</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="form-group row new-question-form-block">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="col-sm-10">
                <img class="avatar-settings"
                     src="{% if request.user.profile.userPfp != '' %}{% get_media_prefix %}{{ request.user.profile.userPfp }}{% else %}{% static "img/no-avatar.png" %}{% endif %}"
                     alt="avatar">
            </div>
            <!--label for="loginInput" class="col-sm-2 col-form-label">Login</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="loginInput"
                       placeholder="Enter login" value="{{ request.user.username }}" required>
                <small class="error">Wrong login</small>
            </div>
        </div>

        <div class="form-group row new-question-form-block">
            <label for="emailInput" class="col-sm-2 col-form-label">E-mail</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="emailInput"
                       placeholder="enter e-mail" value="{{ request.user.email }}" required>
                <small class="error">Wrong e-mail</small>
            </div>
        </div>

        <div class="form-group row new-question-form-block">
            <label for="nicknameInput" class="col-sm-2 col-form-label">NickName</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nicknameInput"
                       placeholder="Enter nickname" value="{{ request.user.profile.nickname }}" required>
                <small class="error">Wrong nickname</small>
            </div>
        </div>
        <div class="form-group row new-question-form-block">
            <label class="col-sm-2 form-label" for="avatarUpload">Avatar</label>
            <div class="col-sm-10">
                <object class="avatar-settings" data="{{ request.user.profile.userPfp }}" type="image/jpg">
                    <img class="avatar-settings" src="{% static "img/no-avatar.png" %}" alt="avatar">
                </object>
                <input type="file" class="form-control" id="avatarUpload" accept="image/*">
                <If uploaded image file is broken>
                <small class="error">Bad image</small>
            </div-->
        </div>
        <div class="form-group row new-question-form-block">
            <div class="col-sm-10">
                <button class="btn btn-outline-success" type="submit">Save</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block side-panel %}
    {% include "include/sidepanel.html" %}
{% endblock %}